body {
  margin: 0;
  font-family: Arial;
  background: #000;
  color: white;
  text-align: center;
}

.title {
  padding: 10px;
  font-size: 22px;
}

.cameraContainer {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

#reader {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}

.scan-frame {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.corner {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 5px solid #ffd400;
}

.tl {
  top: 20px;
  left: 20px;
  border-right: none;
  border-bottom: none;
}

.tr {
  top: 20px;
  right: 20px;
  border-left: none;
  border-bottom: none;
}

.bl {
  bottom: 20px;
  left: 20px;
  border-right: none;
  border-top: none;
}

.br {
  bottom: 20px;
  right: 20px;
  border-left: none;
  border-top: none;
}

.scanBtn {
  width: 90%;
  max-width: 400px;
  padding: 15px;
  margin: 15px auto;
  font-size: 18px;
  font-weight: bold;
  background: #ffd400;
  border: none;
  border-radius: 10px;
  display: block;
}

.notify {
  margin: 10px auto;
  width: 90%;
  max-width: 400px;
  background: #27ae60;
  padding: 12px;
  border-radius: 8px;
  display: none;
  font-size: 16px;
}

.info {
  width: 90%;
  max-width: 400px;
  margin: auto;
}

#scanList {
  text-align: left;
  max-height: 200px;
  overflow-y: auto;
  background: #111;
  padding: 10px;
  border-radius: 8px;
}

#scanList li {
  padding: 5px 0;
  border-bottom: 1px solid #333;
}
